

.jumbotron{
opacity: 0.8;
background-color: grey;
}


h1 {
	text-align: center;
}

body {
    background-image: url("../img/background.jpg" );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 
}

h2{
	color: white;
}

.columns {
	background-color:grey;
	opacity: 0.9;
	margin-top: 13%;
}

.columns p{

	height:100px;
}

#test{
	margin: 0 auto;
	text-align: center;
}

.footer_p{
	color: white;
}

.register{
	text-align: center;
	//border:5px solid red;
	margin: 10% auto;
	width: 300px;
}

.register input {
	padding:3%;
	margin:3%;
}
.jumbotron h2, #follow{
	color:#ff6600;
	text-align: center;
}

.register_p{
	color:white;
	text-align: left;
}

